.form-field {
  display: flex;
  flex-direction: column-reverse;
  height: 82px;
  font-size: 14px;

  &__input {
    margin-top: 8px;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding-left: 15px;
    height: 44px;
    font-size: 14px;
    line-height: 150%;
    background-color: var(--color-light);
    box-shadow: inset 20px 20px 20px 20px var(--color-light);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }
}
