.account {
  @include flex-v-center;

  flex-wrap: wrap;

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--color-light);
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      fill: var(--color-primary);
    }

    @include small-tablet {
      fill: var(--color-ebony);
    }
  }

  &__link {
    @include flex-column-start;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--mobile {
      position: absolute;
      right: 48px;
      top: 22px;
      z-index: -1;
      display: none;

      &:hover {
        .contact-link__value--mod {
          color: var(--color-primary);
        }

        // @media (min-width: (769px)) {
        //   position: absolute;
        //   top: -60px;
        // }
      }

      @include minidesk {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }

      @include tablet {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }

      @include small-tablet {
        display: block;
      }

      // @media (min-width: (769px)) {
      //   position: absolute;
      //   top: -60px;
      // }
    }
  }
}

.contact-link {
  padding-left: 28px;
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;

  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__value {
    font-size: 16px;
    line-height: 150%;
    color: var(--color-light);
    transition: color 0.3s ease-in-out;

    &--mod {
      font-size: 16px;
      line-height: 150%;
      color: var(--color-light);
      transition: color 0.3s ease-in-out;
    }

    @include minidesk {
      font-size: 16px;
    }

    @include small-tablet {
      color: var(--color-ebony);
    }
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &:hover {
    .contact-link__value {
      color: var(--color-primary);
    }
  }

  &:active {
    .contact-link__value {
      color: var(--color-active);
    }
  }

  &--call {
    background-image: url("../img/phone.svg");
  }

  @include small-tablet {
    display: block;
  }
}
