.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 4px var(--color-blueberry);
  background-color: var(--color-sapphire);

  &__container {
    @include flex-all-sb;

    flex-direction: column;
    padding: 0 12px 8px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #649ed8;
    padding: 6px 0 3px;
    width: 100%;
    max-width: 1440px;
    max-height: 65px;

    @include small-tablet {
      border: none;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @include small-tablet {
      display: block;
    }
  }

  &__logo {
    margin-right: 40px;

    @include tablet {
      margin-right: 28px;
    }
  }

  &__nav {
    display: flex;

    @include small-tablet {
      display: none;
    }
  }

  &__nav-link {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-light);
    transition: color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 20px;

      @include tablet {
        margin-right: 16px;
      }
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  &__nav-link-cover {
    @include minidesk {
      display: none;
    }
  }

  &__nav-top {
    @include small-tablet {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @include small-tablet {
      display: none;
    }
  }
}

.more {
  &__dots {
    position: absolute;
    display: none;
    width: 0;
    color: var(--color-light);
    cursor: pointer;

    @include minidesk {
      display: block;

      &:hover .more__menu {
        display: block;
      }
    }
  }

  &__menu {
    position: relative;
    right: 118px;
    top: 18px;
    z-index: 0;
    display: none;
    border-radius: 8px;
    padding: 16px 18px;
    width: 270px;
    box-shadow: 0 0 5px rgb(0 0 0 / 5%), 0 10px 10px rgb(0 0 0 / 10%);
    background-color: var(--color-light);

    &-link {
      display: flex;
      padding: 9px 20px;
      transition: 0.2s;

      &:hover {
        background-color: var(--color-violet);
      }
    }
  }
}

.geolocation {
  margin: 0;
  margin-right: 24px;
  padding-left: 22px;
  color: var(--color-light);
  background-image: url("../img/i-location.svg");
  background-position: left center;
  background-size: 16px 16px;
  background-repeat: no-repeat;

  @include tablet {
    margin-right: 14px;
    line-height: 40px;
    color: var(--color-light);
  }

  @include small-tablet {
    color: var(--color-ebony);
  }
}
