.hero {
  position: relative;
  z-index: 2;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    margin-bottom: 50px;
    padding: 40px 12px 200px;

    @include small-tablet {
      padding-bottom: 140px;
    }

    @include mobile {
      padding-bottom: 100px;
    }
  }
}
