.nav {
  width: 100%;
  max-width: 1200px;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small-tablet {
      display: none;
      flex-direction: column;
      padding: 16px 12px;
    }

    @include mobile {
      padding: 8px 16px;
    }
  }

  &__list {
    padding-top: 8px;
  }

  &__link {
    padding-bottom: 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--color-light);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      border-bottom: 3px solid var(--color-primary);
      text-decoration: none;
      transition-duration: 0.3s ease-in-out;
    }

    @include minidesk {
      font-size: 16px;
    }

    @include small-tablet {
      color: var(--color-ebony);
    }
  }
}
