
.msk {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk2 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk3 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk4 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk5 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk6 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk7 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb2 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb3 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb4 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.kzn {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.vlg {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

[class*="copyrights-pane"] {
  display: none !important;
}
