.map {
  width: 100%;
  height: 600px;
  background-color: #d8f1c2;

  @include small-tablet {
    height: 500px;
  }

  @include mobile {
    height: 400px;
  }
}

.balloon__link {
  border-radius: 3px;
  padding: 3px 6px;
}

.msk {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.map-mobile {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);

  @include tablet {
    width: 100%;
  }

  @include small-tablet {
    height: 500px;
  }

  @include mobile {
    height: 400px;
  }
}

[class*="copyrights-pane"] {
  display: none !important;
}
