.calendar {
  position: relative;

  &__field {
    position: relative;
    border: 1px solid var(--color-rinse);
    padding: 10px 16px 9px;
    width: 190px;
    height: 64px;
    color: var(--color-great);
    background-color: var(--color-light);
    transition: 0.15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &:hover {
      border: 1px solid var(--color-great);
      border-radius: 8px;
      transition: 0.3s;
    }

    @include tablet {
      border-radius: 0 8px 8px 0;
      width: 100%;
    }

    @include mobile {
      margin: 0;
      border-radius: 0;
    }

    &__field-title {
      margin-bottom: 2px;
      font-size: 14px;
    }

    &__field-dates {
      bottom: 40px;
      font-size: 16px;
      color: var(--color-ebony);
    }

    &__field-button {
      position: absolute;
      right: 18px;
      top: 20px;
      width: 20px;
      height: 20px;
      background: url(../img/calendar.svg) no-repeat;
    }
  }
}

.air-datepicker-global-container {
  position: absolute;
  left: 15px;
}

#dateField {
  position: relative;
  top: 32px;
}

.dataField {
  position: relative;
  top: 32px;
}

.form-control {
  position: absolute;
  left: 2px;
  top: 32px;
  width: 115px;

  @include mobile {
    left: 50px;
  }
}
