.where {
  position: relative;
  border: 1px solid var(--color-rinse);
  padding-top: 7px;
  height: 64px;
  background-color: var(--color-light);
  transition: 1s;

  &__input-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    border: none;
    padding: 0 9px;
    width: 165px;
    height: 54px !important;
    box-sizing: border-box;
    transition: 0.3s;
  }

  &__body {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 356px;
  }

  &:hover {
    border: 1px solid var(--color-great);
    border-radius: 8px;
    transition: 0.3s;
  }
}

.input {
  &__name {
    position: absolute;
    left: 16px;
    top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-great);
    transition: 0.3s;
  }
}

.where-input {
  flex-grow: 1;
  margin-left: 6px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-ebony);
}

.where-drop {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  width: 229px;

  &__item {
    @include flex-all-sb;

    padding: 10px 10px 10px 20px;
    width: 100%;
    min-width: 90px;
    color: var(--color-ebony);

    &:hover {
      background-color: var(--color-violet);
    }
  }
}
