<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__content">
        <h1 class="about__title title">О компании</h1>
        <p class="about__text descr">Ttaveler делает для вас сервис удобных путешествий.
          Мы дарим вам комфорт, скорость и целый мир новых
          возможностей.С нами подготовка к отпуску — сплошное удовольствие!</p>
        <p class="about__text descr"><b>Мы всегда на связи!</b></p>
      </div>
    </div>
  </div>
</section>
