<section class="advantages">
  <div class="container">
    <h2 class="title title--adv title--center">Преимущества бронирования онлайн</h2>
    <p class="descr descr--center">Экономьте время и деньги, выбирая лучшее</p>
    <ul class="list-reset advantages__list">
      <li class="advantages__item">
        <span class="advantages__icon advantages__icon--speed"></span>
        <div class="advantages__text-block">
          <h3 class="advantages__subtitle">Быстро</h3>
          <p class="advantages__descr">
            Никаких поездок в офис и ожиданий в очередях: онлайн-бронирование доступно в любое время и занимает считаные
            минуты.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon advantages__icon--comfort advantages__icon-right"></span>
        <div class="advantages__text-block advantages__text-block-right">
          <h3 class="advantages__subtitle">Удобно</h3>
          <p class="advantages__descr">
            Вы можете самостоятельно сравнивнить цены, отели и условия, прочитать отзывы туристов и выбирать оптимальное
            предложение.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon advantages__icon--safety"></span>
        <div class="advantages__text-block">
          <h3 class="advantages__subtitle">Безопасно</h3>
          <p class="advantages__descr">
            Traveler - надёжный туроператор с безупречной репутацией, а все банковские операции и онлайн-платежи на
            сайте
            абсолютно защищены.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon advantages__icon--profit advantages__icon-right"></span>
        <div class="advantages__text-block advantages__text-block-right">
          <h3 class="advantages__subtitle">Выгодно</h3>
          <p class="advantages__descr">
            Все спецпредложения, акции и горящие туры отображаются на сайте в реальном времени, их можно отслеживать и
            сразу выкупать по выгодной цене.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
