<section class="agencies">
  <div class="title-wrap">
    <div class="container">
      <h1 class="title title--agencies">Агенствам</h1>
    </div>
  </div>
  <div class="container">
    <div class="agencies-content">
      <div class="info">
        <p class="info__descr">
          <strong><span class="info-span">Туроператор «Traveler»</span></strong> - крупнейший российский туроператор,
          работающий на рынке внутреннего туризма с 1996
          года, и организующий туры по России, странам СНГ и ближнему зарубежью.
          В ассортименте компании насчитывается более 5000 отелей и санаториев, и 1000 экскурсионных туров, как по
          России, так и странам ближнего и дальнего зарубежья.
          В компании работают высококвалифицированные сотрудники с большим опытом работы в сфере туризма. Мы являемся
          участниками отраслевых объединений-АТОР, РСТ.
          Наша цель-обеспечить технологичный доступ любого участника туристического рынка к любому туру, а также
          предоставить туристу качественный сервис «на месте», независимо от стоимости тура.
          Туроператор «Travaler» располагает собственными офисами на основных курортах и городах прибытия туристов
          , что позволяет оперативно помогать нашим туристам 24/7.
        </p>

        <h2 class="title title--benefits">Наши преимущества:</h2>
        <ul class="benefits list-reset">
          <li class="benefits__item"><span>•</span>Удобная система он-лайн бронирования</li>
          <li class="benefits__item"><span>•</span>Индивидуальный подход к каждой заявке</li>
          <li class="benefits__item"><span>•</span>Оперативное решение любых вопросов</li>
          <li class="benefits__item"><span>•</span>Репутация надежного туроператора</li>
          <li class="benefits__item"><span>•</span>Удобный и понятный личный кабинет агента</li>
          <li class="benefits__item"><span>•</span>Адаптивный модуль поиска туров</li>
          <li class="benefits__item"><span>•</span>Финансовые гарантии в размере 10 млн. рублей</li>
          <li class="benefits__item"><span>•</span>Ежегодно нас выбирают более 100000 туристов.</li>
        </ul>

      </div>
      <div class="sidebar">
        <ul class="list-reset sidebar__list">
          <li class="sidebar__list-item sidebar__list-item--title">Агенствам</li>
          <li class="sidebar__list-item"><a href="#">Как начать сотрудничество?</a></li>
          <li class="sidebar__list-item"><a href="#">Личный кабинет</a></li>
          <li class="sidebar__list-item"><a href="#">Как оплатить</a></li>
          <li class="sidebar__list-item"><a href="#">Документы для работы</a></li>
          <li class="sidebar__list-item"><a href="#">Поиск на вашем сайте</a></li>
          <li class="sidebar__list-item"><a href="#">Ваша комиссия</a></li>
          <li class="sidebar__list-item"><a href="#">Обратная связь</a></li>
          <li class="sidebar__list-item"><a href="#">Финансовые гарантии</a></li>
          <li class="sidebar__list-item"><a href="#">Техническая документация</a></li>
          <li class="sidebar__list-item"><a href="#">Страхование путешествующих</a></li>
          <li class="sidebar__list-item"><a href="#">Подписка на новости</a></li>
          <li class="sidebar__list-item"><a href="#">Раннее бронирование 2023</a></li>
        </ul>
      </div>
      <div class="sidebar-menu" data-graph-animation="custom" data-graph-path="sidebar">
        <svg class="sidebar-menu__icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
