<section id="best-fares" class="best-fares section-offset">
  <div class="container">
    <div class="best-fares__top">
      <h2 class="title best-fares__title">Лучшие предложения</h2>
      <div class="slider-nav">
        <button class="btn-reset slider-nav__btn best-fares__prev slider-btn" aria-label="Перейти к предыдущему слайду">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn best-fares__next slider-btn" aria-label="Перейти к следующему слайду">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper best-fares__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/zvenigorod.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">
                    Отель "Zvenigorod" ("Гелиопарк Талассо")
                  </div>
                  <div class="best-fares-item__subtitle">
                    Россия,Московская область
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>3 900 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/Psou.jpg"" alt=" img">
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">Дом отдыха "Псоу"</div>
                  <div class="best-fares-item__subtitle">
                    Абхазия,Гагрский район,Цандрипш
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>3 900 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/dominica.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">
                    Гостевой дом "Доминика"
                  </div>
                  <div class="best-fares-item__subtitle">
                    Россия,Крым,Феодосия,Береговое
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>700 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/aitar.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">Пансионат "Айтар"</div>
                  <div class="best-fares-item__subtitle">
                    Абхазия,Сухумский район,Сухум
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>600 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/Promitei.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">
                    Отель "Промитей Клуб"
                  </div>
                  <div class="best-fares-item__subtitle">
                    Россия,Краснодарский край,Сочи,Лазаревское
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>700 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/Odissea.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">Пансионат "Одиссея"</div>
                  <div class="best-fares-item__subtitle">
                    России,Краснодарский край,Анапа
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>2 200 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/litfound.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">Пансионат "Литфонд"</div>
                  <div class="best-fares-item__subtitle">
                    Абхазия,Гагрский район,Пицунда
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>2 800 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--wrapper">
          <div class="best-fares__slide">
            <a href="#" class="best-fares-item">
              <div class="best-fares-item__image scale">
                <img src="./img/picunda.jpg" alt="img" />
              </div>
              <div class="best-fares-item__content">
                <div class="best-fares-item__rating">
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                  <svg class="icon-star" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#star"></use>
                  </svg>
                </div>
                <div class="best-fares-item__descr">
                  <div class="title best-fares-item__title">
                    Пансионат "Курорт Пицунда"
                  </div>
                  <div class="best-fares-item__subtitle">
                    Абхазия,Гагрский район,Пицунда
                  </div>
                </div>
                <div class="best-fares-item__bottom">
                  <div class="best-fares-item__price">
                    от <span>1 600 ₽</span>
                  </div>

                  <div class="best-fares-item__price-descr">
                    <div class="best-fares-item__price-text">на человека</div>
                    <div class="best-fares-item__price-text">за ночь</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
