<header class="header">
  <div class="header__container">
    <div class="header__top">
      <div class="header__left">
        <div class="header__logo">
          <a href="index.html" class="logo">
            <img src="img/traveler-logo.svg" alt="traveler logo" />
          </a>
        </div>
        <nav class="header__nav">
          <a class="header__nav-link" href="#" data-graph-animation="custom" data-graph-path="second">Подобрать тур</a>
          <a class="header__nav-link" href="about.html">О компании</a>

          <div class="more">
            <div class="more__dots touch-area">...
              <div class="more__menu">
                <a href="sales-offices.html" class="more__menu-link"><span>Офисы продаж</span></a>
                <a href="agencies.html" class="more__menu-link"><span>Агентствам</span></a>
              </div>
            </div>
          </div>

          <a class="header__nav-link header__nav-link-cover" href="sales-offices.html">Офисы продаж</a>
          <a class="header__nav-link header__nav-link-cover" href="agencies.html">Агентствам</a>
        </nav>
      </div>

      <a href="tel:7405999999" class="contact-link contact-link--call contact-link__mobile">
        <span class="contact-link__value">8(800) 999-9999</span>
      </a>

      <div class="header__right">
        <span class="geolocation"></span>
        <a href="tel:7405999999" class="contact-link contact-link--call">
          <span class="contact-link__value">8(800) 999-9999</span>
        </a>
        <div class="account">
          <span class="account__link" data-graph-animation="custom" data-graph-path="account">
            <svg class="account__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
          </span>
          <a href="favorite.html" class="account__link">
            <svg class="account__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </a>
          <a href="basket.html?id=3" class="account__link">
            <svg class="account__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#basket"></use>
            </svg>
            <div class="account__count is-hidden"></div>
          </a>
        </div>
      </div>
    </div>

    <nav class="nav">
      <ul class="nav__items nav__list list-reset">
        <li class="nav__item">
            <a href="tour-search.html" class="nav__link">Туры</a>
        </li>
        <li class="nav__item">
          <a href="tour-search.html" class="nav__link">Отели</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Авиабилеты</a>
        </li>
        <li class="nav__item">
          <a href="#best-fares" class="nav__link">Акции</a>
        </li>
        <li class="nav__item">
          <a href="#best-fares" class="nav__link">По России</a>
        </li>
        <li class="nav__item">
          <a href="#best-fares" class="nav__link">Санатории</a>
        </li>
        <li class="nav__item">
          <a href="#best-fares" class="nav__link">Горящие туры</a>
        </li>
      </ul>
    </nav>

    <div class="menu mobile-menu">
      <div class="mobile-menu__container mobile-menu__container-top">
        <div class="header__logo">
          <a href="index.html" class="logo">
            <img src="img/traveler-logo.svg" alt="traveler logo" />
          </a>
        </div>
        <div class="account">
          <span class="account__link" data-graph-animation="custom" data-graph-path="account">
            <svg class="account__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
          </span>
          <a href="favorite.html" class="account__link">
            <svg class="account__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
          </a>
          <a href="basket.html?id=3" class="account__link">
            <svg class="account__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#basket"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="mobile-menu__container">
        <ul class="mobile-menu__nav list-reset">
          <li class="mobile-menu__item">
            <a href="tour-search.html" class="mobile-menu__nav-link">Туры</a>
          </li>
          <li class="mobile-menu__item">
            <a href="tour-search.html" class="mobile-menu__nav-link">Отели</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__nav-link">Авиабилеты</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#best-fares" class="mobile-menu__nav-link">Акции</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#best-fares" class="mobile-menu__nav-link">По России</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#best-fares" class="mobile-menu__nav-link">Санатории</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#best-fares" class="mobile-menu__nav-link">Горящие туры</a>
          </li>
        </ul>
      </div>
      <div class="mobile-menu__tel">
        <p id="user-city-mobile" class="geolocation"></p>
        <a href="tel:7405999999" class="contact-link contact-link--call">
          <span class="contact-link__value contact-link__value--mobile">8(800) 999-9999</span>
        </a>
      </div>
      <ul class="mobile-menu__nav list-reset">
        <li class="mobile-menu__item">
          <a class="mobile-menu__nav-link" href="#" data-graph-animation="custom" data-graph-path="second">Подобрать тур</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__nav-link" href="about.html">О компании</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__nav-link" href="sales-offices.html">Офисы продаж</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__nav-link" href="agencies.html">Агентствам</a>
        </li>
      </ul>
    </div>

    <div class="overlay"></div>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
