<section class="section-help-form section-offset">
  <div class="container">
    <div class="section-help-form__container">
      <h2 class="title title--help-form">Подберите тур с менеджером</h2>
      <p class="descr descr--help-form">Нужна помощь? Теперь не нужно идти в офис продаж</p>
      <form action="#" class="help-form" method="POST" enctype="multipart/form-data">
        <label class="form-field">
          <input class="help-form__input form-field__input" type="text" data-validate-field="name" name="Имя"
            placeholder="Ваше имя">
        </label>
        <label class="form-field">
          <input class="help-form__input form-field__input" type="tel" data-validate-field="tel" name="Телефон"
            placeholder="Номер телефона">
        </label>
        <label class="form-field">
          <input class="help-form__input form-field__input" type="email" data-validate-field="email" name="Email"
            placeholder="Ваш email">
        </label>
        <button class="help-form__btn btn-reset btn btn--fill" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
