<section class="hotel-tour">
  <div class="container">
    <div id="hotel"></div>

    <div class="positioning">
        <div class="positioning__info">
          <span class="positioning__title">5 шагов для покупки тура</span>
          <span class="icon-info"></span>
        </div>
        <div class="popup">
          <div class="triangle"></div>
          <div class="popup__container">
            <span class="popup__close"></span>

            <div class="popup__content">
              <h3 class="popup__title">Покупка тура за 5 шагов</h3>

              <ul class="info-step list-reset">
                <li class="info-step__item">
                  <div class="info-step__img">
                    <img src="./img/home.svg" alt="home">
                  </div>
                </li>
                <li class="info-step__item info-step__item--title">
                  <div class="info-step__title info-step__title--color"><span>Выберите отель</span></div>
                </li>
                <li class="info-step__item">
                  <span class="info-step__text">
                    Воспользуйтесь удобной поисковой формой и фильтрами, чтобы найти отель для отдыха мечты. Фотографии, рейтинги и отзывы реальных туристов помогут вам выбрать лучший вариант.
                  </span>
                </li>
              </ul>

              <ul class="info-step list-reset">
                <li class="info-step__item">
                  <div class="info-step__img">
                    <img src="./img/bed.svg" alt="bed">
                  </div>
                </li>
                <li class="info-step__item info-step__item--title">
                  <div class="info-step__title"><span>Выберите тур</span></div>
                </li>
                <li class="info-step__item">
                  <span class="info-step__text">
                    Туры в отеле могут отличаться по датам заезда, продолжительности, номерам и питанию. Также в стоимость тура может входить медицинская страховка и трансфер до отеля и обратно.
                  </span>
                </li>
              </ul>

              <ul class="info-step list-reset">
                <li class="info-step__item">
                  <div class="info-step__img">
                    <img src="./img/doc.svg" alt="documents">
                  </div>
                </li>
                <li class="info-step__item info-step__item--title">
                  <div class="info-step__title"><span>Оформите тур</span></div>
                  <img src="./img/pay.png" alt="pay">
                </li>
                <li class="info-step__item">
                  <span class="info-step__text">
                    Заполните паспортные данные туристов, укажите необходимость оформления виз и выберите удобный способ электронной оплаты, это безопасно! После оформления тура вашим заказом будет заниматься менеджер
                  </span>
                </li>
              </ul>

              <ul class="info-step list-reset">
                <li class="info-step__item">
                  <div class="info-step__img">
                    <img src="./img/like.svg" alt="like">
                  </div>
                </li>
                <li class="info-step__item info-step__item--title">
                  <div class="info-step__title"><span>Дождитесь подтверждения</span></div>
                </li>
                <li class="info-step__item">
                  <span class="info-step__text">
                    Тур и наличие мест должны быть подтверждены на стороне туроператора, мы получим подтверждение в течение 3-х суток и уведомим вас письмом на эл. почту.
                  </span>
                </li>
              </ul>

              <ul class="info-step list-reset">
                <li class="info-step__item">
                  <div class="info-step__img">
                    <img src="./img/doc2.svg" alt="documents">
                  </div>
                </li>
                <li class="info-step__item info-step__item--title">
                  <div class="info-step__title"><span>Получите документы</span></div>
                </li>
                <li class="info-step__item">
                  <span class="info-step__text">
                    Не позднее, чем за сутки до вылета на вашу эл. почту будут высланы ваучер, маршрутная квитанция по перелёту, страховка и памятка туриста. Их нужно будет распечатать и взять с собой в аэропорт.
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="positioning__offer">
          Выберите тур в этот отель с вылетом из Москвы
        </div>
    </div>

    <div id="rooms-preview" class="rooms-container"></div>
  </div>
</section>
