<section class="popular-categories">
  <div class="container">
    <h2 class="title">Популярные категории</h2>
    <ul class="list-reset popular-list popular-categories__list grid">
      <li class="popular-list__item">
        <a href="tour-search.html" class="popular-item popular-item--tours">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-1"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Туры</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--burn">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-2"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Горящие туры</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--impr">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-3"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Впечатления</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--hotels">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-4"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Отели</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--market">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-5"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Маркет</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--services">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-6"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Доп.услуги</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--cruises">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-7"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Круизы</h3>
      </li>
      <li class="popular-list__item">
        <a href="#" class="popular-item popular-item--car">
            <svg class="popular-item__icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#popular-8"></use>
            </svg>
        </a>
        <h3 class="popular-item__title">Автотуры</h3>
      </li>
    </ul>
  </div>
</section>
