<section class="slader-swiper section-offset">
  <div class="container slider-container">
    <div class="swiper-container">
      <div class="swiper-wrapper hero-slider">

        <div class="swiper-slide slide slide--1">
              <div class="slide__content">
                <h1 class="title title--inter">Бахрейн</h1>
                <p class="descr descr--inter">
                  Настоящий арабский колорит
                </p>
                <div class="slide__btns">
                  <button class="btn btn--fill" data-graph-animation="custom" data-graph-path="second">Подобрать тур</button>
                </div>
              </div>
        </div>

        <div class="swiper-slide slide slide--2">
              <div class="slide__content">
                <h1 class="title title--inter">Необыкновенный Стамбул</h1>
                <p class="descr descr--inter">
                  Познакомтесь с самым колоритным городом Турции
                </p>
                <div class="slide__btns">
                  <button class="btn btn--fill" data-graph-animation="custom" data-graph-path="second">Подобрать тур</button>
                </div>
              </div>
        </div>

        <div class="swiper-slide slide slide--3">
            <div class="slide__content">
              <h1 class="title title--home">Популярные отели</h1>
              <p class="descr descr--home">
                для отдыха в России
              </p>
              <div class="slide__btns">
                <button class="btn btn--fill" data-graph-animation="custom" data-graph-path="second">Подобрать тур</button>
              </div>
            </div>
      </div>

      </div>

      <div class="swiper-pagination"></div>
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    </div>
  </div>
</section>
