html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// * {
//   outline: 1px solid red;
//   }

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 316px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.site-container {
  overflow: hidden; // если используем на сайте position: sticky - убрать эту настройку
}

._lock {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  /* background-color: #143861; */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #843465;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--grid-gap);

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

.title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: var(--color-ebony);
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: var(--color-blue);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &--fill {
    background-color: var(--color-primary);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--color-active);
    }

    &:active {
      background-color: var(--color-primary);
    }
  }

  @include mobile {
    padding: 10px 30px;
  }
}

.main-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--color-ebony);

  &--inter {
    color: var(--color-light);
  }

  &--home {
    color: var(--color-blue);
  }

  @include small-tablet {
    font-size: 32px;
    line-height: 120%;
  }

  @include mobile {
    font-size: 28px;
    line-height: 120%;
  }
}

.main-descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-light);

  &--inter {
    margin-bottom: 56px;
    color: var(--color-light);
  }

  &--home {
    margin-bottom: 56px;
    color: var(--color-blue);

    @include mobile {
      color: var(--color-light);
    }
  }

  @include mobile {
    margin-bottom: 40px;
    line-height: 120%;
  }
}
