:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-violet: #edf1fe;
  --color-light: #fff;
  --color-gray: #424551;
  --color-primary: #ffe733;
  --color-active: #f3db25;
  --color-ebony: #2e2e32;
  --color-blueberry: #518bc4;
  --color-rinse: #d4d9de;
  --color-great: #7e8389;
  --color-blue: #4e3e8e;

  // sizes
  --grid-gap: 30px;
}
