.offices {
  padding: 30px 0;
}
.offices__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.offices__info {
  width: 350px;
}
.offices__title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.offices__address {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 120%;
}
.offices__phone {
  position: relative;
  margin-bottom: 16px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.offices__phone:after {
  background-image: url(../img/phone2.svg);
  content: "";
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}
.offices__email {
  position: relative;
  margin-bottom: 16px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 120%;
}
.offices__email:after {
  background-image: url(../img/email-icon.svg);
  content: "";
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}
.offices__hours {
  position: relative;
  padding-left: 40px;
}
.offices__hours:after {
  background-image: url(../img/time.svg);
  content: "";
  height: 23px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 26px;
}

.office-hours__title {
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.office-hours__weekday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}
.office-hours__time {
  width: 50%;
}
.office-hours__saturday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}
.office-hours__sunday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}

.msk {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk2 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk3 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk4 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk5 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk6 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.msk7 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb2 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb3 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

.spb4 {
  width: 60%;
  height: 600px;
  background-color: var(--color-bgreen);
}

[class*=copyrights-pane] {
  display: none !important;
}
/*# sourceMappingURL=offices.css.map */